<div  my-person class="container">
    <div class="row">
    <div class="col-sm-3 dashboard-navigation">
        <h4>Dashboard Navigation</h4>
        <ul class="nav nav-pills nav-stacked">
            <li><a ui-sref="dashboard.people">People</a></li>
            <li><a ui-sref="dashboard.person_info">Get Person Info</a></li>
            <li><a ui-sref="dashboard.person_detail">Person Detail</a></li>
        </ul>
    </div>
    <div class="col-sm-9">
        <div class="dashboard-view-container">
            <div class="dashboard-ui-view" ui-view></div>
        </div>
    </div>
    </div>
</div>

<div class="row>">
    <div class="col-sm-12">
        <div class="graphs text-center"><h1>Graph Section</h1></div>
    </div>
</div>

<div class="row>">
    <div class="col-sm-12">
        <div class="video text-center"><h1>Video Section</h1></div>
    </div>
</div>

<div class="row>">
    <div class="col-sm-12">
        <div class="about text-center"><h1>About Section</h1>
           <button ng-click="revealFate();">Reveal Your Fate</button>
           <p>{{fate}}</p>
        </div>
    </div>
</div>
