<div id="wrapper" class="container">
    <nav id="primary">
        <ul>
            <li>
                <h1>Can't Be Bought</h1>
                <a class="cant-be-bought" href="#cant-be-bought">View</a>
            </li>
            <li>
                <h1>A Walk in Someone's Shoes</h1>
                <a class="another-life" href="#another-life">View</a>
            </li>
            <li>
                <h1>The Statistics</h1>
                <a class="the-statistics" href="#the-statistics">View</a>
            </li>
            <li>
                <h1>View Video</h1>
                <a class="video" href="#video">View</a>
            </li>
            <li>
                <h1>Join the Fight</h1>
                <a class="join-the-fight" href="#join-the-fight">View</a>
            </li>
        </ul>
    </nav>
    
    <div id="content">
        <div class="row" id="cant-be-bought">
            <div class="col-sm-12 text-center">
                <img class="center-block hands_chains" src="https://i.imgur.com/FTk3KqW.png?1">
                <header>
                    <h1>can't be bought</h1>
                </header>
                <div class="row">
                    <div class="col-sm-12 center-block">
                        <nav>
                            <a class="next another-life" href="#another-life">Next</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="another-life">
            <div class="col-sm-4">
                <header>
                    <h1><strong>21 MILLION</strong></h1>
                </header>
                <p class="lead">people are enslaved in the world today.</p><h2><strong>HUMAN TRAFFICKING</strong></h2><p class="lead">is the modern day slave trade.</p>
            </div>
            <div class="col-sm-8">
                <div class="dashboard-view-container">
                    <div class="dashboard-ui-view" ui-view></div>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-sm-12 center-block people-nav">
                <nav class="next-prev">
                    <a class="prev cant-be-bought col-sm-6" href="#cant-be-bought">Prev</a>
                    <a class="next the-statistics col-sm-6" href="#the-statistics">Next</a>
                </nav>
            </div>
        </div>
        
        
        <div class="row" id="the-statistics">
            <div class="col-sm-12 text-center">
                <header>
                    <h1>The Statistics</h1>
                </header>

                <div class="row graphs">
                    <div class="graph-buttons">
                        <button class="btn btn-default" ng-click="selectGraph('graph1')">Graph 1</button>
                        <button class="btn btn-default" ng-click="selectGraph('graph2')">Graph 2</button>
                        <button class="btn btn-default" ng-click="selectGraph('graph3')">Graph 3</button>
                        <button class="btn btn-default" ng-click="selectGraph('graph4')">Graph 4</button>
                    </div>
                
                    <div ng-switch on="selectedGraph">
                      <div ng-switch-when="graph1">
                        <div class="graph1 text-center" ng-controller="graph1">
                              <div id="graph1" style="width:60%; height:600px; margin: 0 auto;"></div>
                          </div>
                      </div>

                      <div ng-switch-when="graph2">
                          <div class="graph2 text-center" ng-controller="graph2">
                              <div id="graph2" style="width:60%; height:400px; margin: 0 auto;"></div>
                          </div>
                      </div>
                      
                      <div ng-switch-when="graph3">
                        <div class="graph3 text-center" ng-controller="graph3">
                          <div id="graph3" style="width:80%; height:600px; background-color: white; margin: 0 auto;"></div>
                        </div>
                      </div>
                      
                      <div ng-switch-when="graph4">
                        <div class="graph4 text-center" ng-controller="graph4">
                            <div id="graph4" style="min-width: 310px; min-height: 700px; max-height: 900px; max-width: 800px; margin: 0 auto;"></div>
                        </div>
                      </div>
                    </div>  
                </div>

                <div class="col-sm-12 center-block">
                    <nav class="next-prev">
                        <a class="prev another-life col-sm-6" href="#another-life">Prev</a>
                        <a class="next video col-sm-6" href="#video">Next</a>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row" id="video">
            <div class="col-sm-12 text-center">
                <div class="row video">
                    <div class="col-sm-12 text-center">
                        <iframe width="420" height="315" src="//www.youtube.com/embed/vqiBkZq_fmA?vq=large&autohide=0&controls=0&loop=1&playlist=vqiBkZq_fmA&fs=1&rel=0&autoplay=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 video-stat text-center ">
                <div ng-show="statistic">   
                    <div><h4>{{statistic}}</h4></div>
                </div>
            </div>

            <div class="col-sm-12 center-block">
                <nav class="next-prev">
                    <a class="prev the-statistics col-sm-6" href="#the-statistics">Prev</a>
                    <a class="next join-the-fight col-sm-6" href="#join-the-fight">Next</a>
                </nav>
            </div>
        </div>        
        
        <div class="row" id="join-the-fight">
            <div class="col-sm-12 join-the-fight">
                <div class="col-sm-5">
                    <h2>A PERSON IS</h2><h1>TRAFFICKED</h1><h2>EVERY 30 SECONDS</h2>
                    <br> 
                    <div ng-show="counter < 2">
                        <div class="col-sm-4"><h1 class="text-right" style="font-size: 150px; color: #FEC77C;">{{counter}}</h1></div>   
                        <div class="col-sm-8"><h3 class="text-left">person has been trafficked<br>in the time you've been<br>on this site.</h3></div>
                    </div>
                    <div ng-show="counter > 1">   
                        <div class="counter col-sm-4"><h1 class="text-right" style="font-size: 150px; color: #FEC77C;">{{counter}}</h1></div>
                        <div class="col-sm-8"><h3 class="text-left">people have been trafficked<br>in the time you've been<br>on this site.</h3></div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <h1>Join the Fight</h1>
                    <p class="lead">Earlier, you got information about a trafficking victim.  Below, you can find out their fate.</p>  
                    <button class="btn btn-default" ng-click="revealTransport();">Click to see where you ended up</button>
                    <p>{{transport}}<p>
                    <button class="btn btn-default" ng-click="revealFate();">Click to reveal if you were res</button>
                    <p>{{fate}}</p>
                    <p class="lead">Now that you know what's going on, you can't ever say you didn't know what was going on.  Get involved.</p>
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <button class="btn btn-default btn-lg" href="https://www.unicefusa.org/help/advocate/take-action-end-child-trafficking" target="_blank">Write to Congress</button>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default btn-lg" href="https://www.unicefusa.org/help/advocate/take-action-end-child-trafficking" target="_blank">Ways to Help</button>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-default btn-lg" href="http://notforsalecampaign.org/donate/" target="_blank">Donate</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-default btn-lg" href="http://slaveryfootprint.org/#medicine_cabinet" target="_blank">How Many Slaves Work for You?</button>
                        </div>
                    </div>
                </div>
                <nav>
                    <a class="prev video" href="#video">Prev</a>
                </nav>
            </div>
        </div>
    </div>
</div>
