<h1>People</h1>
  <h3>21 millions people are enslaved in our world today. Human trafficking is the modern-day slave trade.</h3>
  <p>click someone and experience their story and see their chances of survival at the bottom of the website</p>

  <button class="btn btn-default" ng-click="gotoNewPerson();">Person</button>
