<h1>Person Detail</h1>

 <p>You are a {{person.personType}} and based on weighted statistical probability you are being trafficked for {{person.exploitationType}}</p> 

<button class="btn btn-default" ng-click="">Down to About Page</button>
  
