<div class="text-center">
  <h3>Select a gender.</h3>
  
  <div class="row man-woman">
      <div class="woman col-sm-4"><img src="//i.imgur.com/ezN3FXU.png?1" ng-click="changeScreen('female');"></div>
      <div class="man col-sm-4"><img src="//i.imgur.com/0JLk7v0.png" ng-click="changeScreen('male');"></div>
  </div>

  <div class="people-statistic" ng-show="statistic">
    <strong><h3>Fact:</h3></strong>   
    <p class="lead"><em>{{statistic}}</em></p>
  </div>
</div>