<h1>Person Detail</h1>

 <p>You are a {{person.personType}} and based on weighted statistical probability you are being trafficked for {{person.exploitationType}}</p> 
 <h3>Scroll Down to see more statistics and the fate of your story</h3>
