<div class="text-center">
  <h2>Get Person Info</h2>

  <h3>Are you Male or Female?</h3>
  <p>fact: In 2010-2012 49 per cent of detected victims are adult women, 18% are adult males, and 33 percent of detected victims are children. It is estimated that 21% of human traffic victims are female children and 12% are male children.</p> 

  <ul class="list-inline">
    <li ng-repeat="personType in personTypes">
      <button class="btn btn-default" ng-click="changeScreen(personType);">{{personType}}</button>
    </li>
  </ul>
</div>