<div class="text-center person-detail">
  <h3>Based on statistical probability,<br>the person you chose was trafficked for<br><h2>{{person.exploitationType}}</h2>
  <br>
  <div class="well">
    <p>There are many ways that people are used when they're trafficked.  Forced labor, sexual exploitation and organ removal are most common, however there are many various other ways people are used.  Statistically, individuals are more likely to trafficked for certain purposes, based on factors like age and gender.</p>
    
    <p>Some people know they're being trafficked, while others are are tricked by someone who they previously trusted.</p>
  </div>
  <p class="lead">Click on the silhouettes below to continue.</p>
  <img ng-click="goToQuote()" id="silouette" src="//i.imgur.com/sU8Ts0m.png?1">
  <a class="people-link" ui-sref="dashboard.people">or click here to choose a different person</a>
</div>
