<div class="text-center">
  <h1>Person Detail</h1>

  <p>You are a {{person.personType}} and based on weighted statistical probability you are being trafficked for {{person.exploitationType}}</p>
  <button class="btn btn-default" ng-click="getSelectedQuote(person);" class="col-sm-12">Click for Quote</button>
  <div class="quote" ng-show="selectedQuote">   
      <div class="well"><p class="lead">{{selectedQuote.sentence}}</p></div>
  </div>



  <h3>Scroll Down to see more statistics and the fate of your story</h3>
</div>

