<h2>Below you'll find a story from an identified victim<br>who was also exploited for {{person.exploitationType}}.</h2>
<img class="quotation" src="//i.imgur.com/eKuH22v.png?1">
<div class="quote" >   
  <div class="well"><p ng-show="selectedQuote" class="lead">{{selectedQuote.sentence}}</p></div>
</div>
<img class="quotation2" src="//i.imgur.com/rQFBI1c.png?1">
<h3>There's a lot to learn about human trafficking.  Continue scrolling to gain more knowledge, and at the end you have a chance to learn the fate of the person you chose.</h3>

