.people {
  cursor: pointer;
  background-image: url('https://i.imgur.com/XWxIr0r.png');
  width: 579px;
  height: 600px;
  margin: 0 auto;
}

.people-statistic {
  max-width: 600px;
  margin: 0 auto;
}
.quote {
  font-family: 'Architects Daughter';
}

.well {
  background: transparent;
  width:80%;
  margin: 0 auto;
  font-size: 25px;
  border: none;

}
.man-woman {
  padding-top: 4em;
  padding-bottom: 4em;
  padding-left: 28%;
}
.man {
  cursor: pointer;
}
.woman {
  cursor: pointer;
}
.dashboard-view-container {
  height: 600px;
}

.person-detail {
  h3 {
    color: #FEC77C;
  }
  p {
    width: 600px;
    margin: 0 auto;
  }
}