.people {
  cursor: pointer;
  background-image: url('https://i.imgur.com/XWxIr0r.png');
  width: 579px;
  height: 600px;
  margin: 0 auto;
}

.quote {
  font-family: 'Swanky and Moo Moo', cursive;
}

.well {
  background: transparent;
  width:60%;
  margin: 0 auto;
  color: lightblue;
  font-size: 25px;
}

.woman {
  cursor: pointer;
}

.man {
  cursor: pointer;
}

.man-woman {
  margin-left: 250px;
  margin-bottom: 100px;
  margin-top: 50px;
}
